body{
   
   background-image: url(./image/photo.avif);
   background-repeat: no-repeat;
   background-size: cover;
}

#v1{
     font-size: 50px;
     margin-left: 50px;
     margin-top: -65px;
     color:red;
}
h1{
    margin-left: 450px;
    margin-top: 300px;
   font-size: 40px;
   color: white;
}
h3{
    margin-left: 620px;
    margin-top: 30px;
    color: white;
}
h4{
    margin-left: 500px;
    margin-top: 40px;
    color: white;
}
#l1{
    height: 40px;
    width: 550px;
    margin-left: 400px;
    margin-top: 10px;
}
#l2{
    height: 45px;
    width: 200px;
    background-color: red;
}
#b1{
    height: 30px;
    width: 80px;
    margin-top: 40px;
    background-color: black;
    color: white;
}
#k1{
    margin-left: 1200px;
    margin-top: 20px;
}
#b2{
    height: 28px;
    width: 100px;
    margin-left: 10px;
    background-color: red;
}
